.festwatch-rq1 {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 5vw, 18px);
}

.festwatch-rq1-insights {
  display: flex;
  align-items: center;
  gap: clamp(6px, 5vw, 10px);
}



.festwatch-rq2 {
  display: flex;
  align-items: center;
}

.festwatch-rq2 img {
  border-radius: 0;
}

.festwatch-rq2 img:hover {
  transform: none;
  transition: none;
  box-shadow: none;
}

.festwatch-rq2-insights {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 5vw, 14px);
  padding: clamp(20px, 7vw, 30px);
  width: 100%;
  height: max-content;
  background-color: white;
  border-radius: 20px;
}

.festwatch-rq-tags {
  display: flex;
  align-items: center;
  gap: clamp(10px, 5vw, 12px);
}



@media (max-width: 1024px) {
  .festwatch-rq1-insights {
    flex-direction: column;
    align-items: flex-start;
  }

  .festwatch-rq2 {
    flex-direction: column;
  }

  .festwatch-rq2 img {
    rotate: 90deg;
  }
}

@media (max-width: 820px) {
  .festwatch-rq1-insights {
    flex-wrap: wrap;
  }

  .festwatch-rq-tags {
    flex-wrap: wrap;
  }
}