header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  transform: translateY(0);
  transition: transform 0.4s ease-in-out;
}

header.header-hidden {
  transform: translateY(-100%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 300px;
  background-color: #F5F5F5;
}

.hello {
  min-width: max-content;

}

.menu {
  display: flex;
  gap: 40px;
  justify-content: end;
}

.hello a:hover, .menu a:hover {
  opacity: 0.4;
  transition: opacity 0.4s ease-in-out;
}

footer {
  padding: 300px 300px 150px 300px;
  background-color: #231610;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100dvh;
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

footer img {
  width: 120px;
  height: auto;
  border-radius: 0px;
  cursor: pointer;
}



@media (max-width: 1440px) {
  .header {
    padding: 30px 200px;
  }

  footer {
    padding: 260px 200px 150px 200px;
  }
}

@media (max-width: 1280px) {
  .header {
    padding: 30px 200px;
  }

  footer {
    padding: 220px 200px 150px 200px;
  }
}

@media (max-width: 1152px) {
  .header {
    padding: 30px 220px;
  }

  footer {
    padding: 200px 220px 150px 220px;
    min-height: 50dvh;
  }

  footer img {
    width: 110px;
  }
}

@media (max-width: 820px) {
  .header {
    padding: 30px 100px;
  }

  footer {
    padding: 140px 100px;
    min-height: 54dvh;
  }

  footer img {
    width: 90px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 30px 100px;
  }

  .menu {
    gap: 30px;
  }

  footer {
    padding: 150px 100px 120px 100px;
    min-height: 60dvh;
  }

  footer img {
    width: 90px;
  }
}

@media (max-width: 430px) {
  .header {
    padding: 30px;
    flex-direction: column;
    gap: 20px;
  }

  .menu {
    gap: 20px;
  }

  footer {
    padding: 130px 30px;
    min-height: 70dvh;
  }

  .cta {
    padding: 0px 72px 120px 72px;
  }

  .contact {
    padding: 0px 80px;
    flex-direction: column;
    gap: 30px;
  }

  footer .menu {
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}

@media (max-width: 393px) {
  .header {
    padding: 30px;
    flex-direction: column;
    gap: 20px;
  }

  .menu {
    gap: 20px;
  }

  footer {
    padding: 130px 30px;
    min-height: 70dvh;
  }

  .cta {
    padding: 0px 50px 120px 50px;
  }

  .contact {
    padding: 0px 80px;
    flex-direction: column;
    gap: 30px;
  }

  footer .menu {
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}