.scapsense-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(18px, 2vw, 20px);
}

.scapsense-stats-l {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: clamp(18px, 2vw, 20px);
}

.scapsense-stats-row {
  display: flex;
  gap: clamp(18px, 2vw, 20px);
  height: 100%;
}

.scapsense-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: clamp(20px, 7vw, 30px);
  background-color: white;
  border-radius: 20px;
  height: 100%;
  width: 50%;
  transition: background-color 0.25s ease-in-out;
}

.scapsense-stat:hover {
  background-color: #2F2F2F;
  color: white;
}

.scapsense-stats .one-column-content {
  align-items: center;
  justify-content: center;
  padding: clamp(20px, 7vw, 100px) clamp(20px, 8vw, 120px);
  background-color: #2F2F2F;
  color: white;
  border-radius: 20px;
}



.scapsense-learnings-block {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 7vw, 30px);
}

.scapsense-learnings {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: clamp(18px, 2vw, 20px);
}

.scapsense-learnings .one-column-content {
  background-color: white;
  border-radius: 20px;
  padding: clamp(20px, 7vw, 30px);
  width: 100%;
}

.scapsense-cha, .scapsense-opp {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  padding: clamp(20px, 7vw, 30px);
  width: 100%;
  background-color: white;
}

.scapsense-cha {
  background-color: #FBFA84;
}

.scapsense-opp {
  background-color: #AC9BFA;
}

.scapsense-learnings .tag,
.scapsense-learnings .tag {
  background-color: #2F2F2F;
}



.scapsense-concept {
  display: flex;
  gap: clamp(18px, 2vw, 20px);
  border-radius: 20px;
  width: 100%;
}

.scapsense-concept .one-column-content {
  background-color: #AC9BFA;
  border-radius: 20px;
  padding: clamp(20px, 7vw, 30px);
  width: 100%;
}

.scapsense-concept1 {
  display: flex;
  gap: clamp(18px, 2vw, 20px);
}



@media (min-width: 1921px) and (max-width: 2560px) {
  .scapsense-learnings-block {
    gap: clamp(36px, 2vw, 44px);
  }

  .scapsense-concept .one-column-content,
  .scapsense-cha,
  .scapsense-opp {
    padding: clamp(20px, 2vw, 26px);
  }
}

@media (max-width: 1512px) {
  .scapsense-stat {
    width: 100%;
  }

  .scapsense-stats .one-column-content {
    padding: clamp(20px, 7vw, 100px) clamp(20px, 8vw, 90px);
  }
}

@media (max-width: 1440px) {
  .scapsense-stats .one-column-content {
    padding: clamp(20px, 7vw, 100px) clamp(20px, 8vw, 88px);
  }

  .scapsense-concept {
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  .scapsense-stats {
    display: flex;
    flex-direction: column;
  }

  .scapsense-stats-l {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .scapsense-stats-row {
    flex-direction: column;
    width: 100%;
  }

  .scapsense-stat {
    height: fit-content;
  }

  .scapsense-stats .one-column-content {
    padding: clamp(20px, 7vw, 30px);
  }

  .scapsense-learnings {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 820px) {
  .scapsense-concept {
    flex-direction: column;
  }

  .scapsense-concept1 {
    flex-direction: column;
  }

  .scapsense-concept1 .one-column-content {
    padding: clamp(20px, 7vw, 30px);
    width: 100%;
  }
}

@media (max-width: 768px) {
  .scapsense-stats {
    display: flex;
    flex-direction: column;
  }

  .scapsense-stats .one-column-content {
    padding: clamp(20px, 7vw, 30px);
    width: 100%;
  }

  .scapsense-stat {
    padding: clamp(20px, 7vw, 30px);
    width: 100%;
  }
}
